<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Animes de 2023</h1>
    <ol>
        <li>Jujutsu kaisen</li>
        <br>
        <li>Tokyo Revengers - 2° season</li>
        <br>
        <li>Vinland saga - 2° season</li>
        <br>
        <li>Demon Slayer - 3° season</li>
        <br>
        <li>Suzume</li>
        <br>
        <li>Mashle</li>
    </ol>
</body>
</html>